<h1>Perfil de {{firstName}} {{lastName}}</h1>
<p>mi email {{email}}</p>
<img src="{{avatar}}" alt="avatar {{firstName}} {{lastName}}">

<a href="/users/{{id}}/edit">Edit</a>
<a href="/users/{{id}}/delete">Delete</a>