<div class="container p-5">
    <div class="row justify-content-center">

        <div class="col-md-6 p-4">

            <h2>Edit {{username}}</h2>
            <img class="card-img-top user-photo-details" src="{{avatar}}" alt="{{username}} profile photo">
            <form class="row g-3" action="/users/{{id}}/edit" enctype="multipart/form-data" method="POST">
                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" value="{{username}}">
                </div>
                <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" id="avatar" name="avatar" value="{{avatar}}">
                </div>
                <div class="col-md-12">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" class="form-control" id="email" value="{{email}}">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Update</button>
                    <td><a href="/students/{{id}}" class="btn btn-dark">Back</a></td>
                </div>
            </form>
        </div>
    </div>
</div>