<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h1>Restrooms list</h1>
            <hr>

            <div id="map"></div>

            <table class="table">
                <thead>
                    <tr>
                        <th hidden scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Changing table</th>
                        <th scope="col">Accessible</th>
                        <th scope="col">Unisex</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each restrooms}}

                    <tr>
                        <td hidden class="restroom" data-id="{{id}}"></td>
                        <td>{{name}}</td>
                        <td>{{address.street }},{{address.city}}, {{address.state}}</td>
                        <td>{{features.changing_table}}</td>
                        <td>{{features.accessible}}</td>
                        <td>{{features.unisex}}</td>
                        <td> <a href=" /restrooms/{{_id}}">Details</a>
                        </td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <a href="/" class="btn btn-dark">Volver a inicio</a>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCji4zNDq4v6CsYdnMnCoOOit-ug8MULXg&callback=initMap"></script>