<div class="container">
    <div id="map"></div>
    <h1>name: {{name}}</h1>
    <hr>

    <p>reference: {{reference}}</p>
    <p>description: {{description}}</p>
    <p>street: {{address.street}}</p>
    <p>city: {{address.city}}</p>
    <p>state: {{address.state}}</p>
    <p>country: {{address.country}}</p>
    <p>indications: {{address.indications}}</p>
    <p>changing_table: {{features.changing_table}}</p>
    <p>accessible: {{features.accessible}}</p>
    <p>unisex: {{features.unisex}}</p>
    <p>votesDown: {{votes.down}}</p>
    <p>votesUp: {{votes.up}}</p>
    <p>votes: {{votes.votes}}</p>

    <p class="restroom" data-id="{{id}}">ID: {{id}}</p>

    {{#each comments}}
    <p>{{comment}}</p>
    <p>{{owner.firstName}} {{owner.lastName}}</p>
    <img style="width: 80px; height: 80px" src="{{owner.avatar}}" alt="{{owner.firstName}}, {{owner.lastName}}">
    <p>{{createdAt}}</p>
    <a href="/restrooms/{{../id}}/comments/{{id}}/edit">Edit</a>
    <a href="/restrooms/{{../id}}/comments/{{id}}/delete">Delete</a>
    <p></p>
    <br>
    {{/each}}


    <form action="/restrooms/{{id}}/comments/create" method="post">
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="Send">
    </form>



    <hr>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCji4zNDq4v6CsYdnMnCoOOit-ug8MULXg&callback=initMap"></script>