<div id="map"></div>

<div class="container mt-4 mb-5">

    <div class="row justify-content-center">

        <div class="col">

            <h2 class="text-center">{{restroom.name}}</h2>
            <br>

            <div class="row">
                <div class="col-12 col-lg-6 align-items-center">
                    <h5 class="m-0">{{restroom.address.street}}, {{restroom.address.city}}, {{restroom.address.state}},
                        {{restroom.address.country}}</h5>
                    <p class="m-0 mb-3">{{restroom.description}}</p>
                    <p hidden class="restroom" data-id="{{restroom.id}}"></p>
                </div>

                <div class="col-4 col-lg-2 d-flex justify-content-center mt-2">
                    <div class="row">
                        <div class="col-3">
                            {{#if restroom.features.unisex}}
                            <img src="/images/unisex.png" alt="unisex" width="25">
                            {{/if}}
                        </div>

                        <div class="col-3">
                            {{#if restroom.features.accessible}}
                            <img src="/images/accessible.png" alt="accessible" width="25">
                            {{/if}}
                        </div>

                        <div class="col-3">
                            {{#if restroom.features.changing_table}}
                            <img src="/images/changing-table.png" alt="changing_table" width="25">
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="col-8 col-lg-4">
                    <div class="row">
                        <div class="col-5">
                            <form action="/restrooms/{{restroom.id}}/votes/create" method="post"
                                class="d-grid gap-2 mx-auto">
                                <input hidden type="text" name="vote" value="up">
                                <input class="btn btn-outline-success" type="submit" value="Vote up">
                            </form>
                        </div>

                        <div class="col-5">
                            <form action="/restrooms/{{restroom.id}}/votes/create" method="post"
                                class="d-grid gap-2 mx-auto">
                                <input hidden type="text" name="vote" value="down">
                                <input class="btn btn-outline-danger" type="submit" value="Vote down">
                            </form>
                        </div>

                        <div class="col-2 d-flex align-items-center">
                            <p class="m-0">{{score}} %</p>
                        </div>
                    </div>
                </div>

            </div>

            <hr>
            <h4>Comments</h4>

            {{#each comments}}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex align-items-center comment-info">
                        <img class="rounded-circle" src="{{owner.avatar}}"
                            alt="{{owner.firstName}}, {{owner.lastName}}">
                        <p class="m-0 px-3 fw-bold">{{owner.firstName}} {{owner.lastName}}</p>
                    </div>

                    <div class="comment-details">
                        <p class="mt-3">{{comment}}</p>
                    </div>

                    <div class="row">
                        {{#if canEdit}}
                        <div class="col-2 d-grid gap-2">
                            <a href="/restrooms/{{../restroom.id}}/comments/{{_id}}/edit"
                                class="btn btn-outline-secondary btn-sm">Edit</a>
                        </div>

                        <div class="col-2 d-grid gap-2">
                            <a href="/restrooms/{{../restroom.id}}/comments/{{_id}}/delete"
                                class="btn btn-outline-secondary btn-sm">Delete</a>
                        </div>
                        {{/if}}
                        <div class="col-8 d-flex align-items-center justify-content-end">
                            <p class="m-0">{{createdAt}}</p>
                        </div>
                    </div>

                </div>
            </div>
            {{/each}}

            <form action="/restrooms/{{restroom.id}}/comments/create" method="post">
                <label for="comment"></label>
                <textarea class="form-control" style="height: 100px" name="comment" id="comment"
                    placeholder="My comment..."></textarea>
                <div class="d-grid d-flex justify-content-end">
                    <input type="submit" class="btn  green-btn px-5 mt-2" value="Send">
                </div>
            </form>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-lg green-btn">Home</a>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCji4zNDq4v6CsYdnMnCoOOit-ug8MULXg&callback=initMap"></script>