<h1>name: {{name}}</h1>

<p>reference: {{reference}}</p>
<p>description: {{description}}</p>
<p>description: {{description}}</p>
<p>street: {{address.street}}</p>
<p>city: {{address.city}}</p>
<p>state: {{address.state}}</p>
<p>country: {{address.country}}</p>
<p>indications: {{address.indications}}</p>
<p>changing_table: {{features.changing_table}}</p>
<p>accessible: {{features.accessible}}</p>
<p>unisex: {{features.unisex}}</p>
<p>votesDown: {{votes.down}}</p>
<p>votesUp: {{votes.up}}</p>
<p>votes: {{votes.votes}}</p>
<p>comments: {{comments}}</p>