<div class="container">
    <div id="map"></div>

    <h1>name: {{restroom.name}}</h1>
    <hr>

    <p>reference: {{restroom.reference}}</p>
    <p>description: {{restroom.description}}</p>
    <p>street: {{restroom.address.street}}</p>
    <p>city: {{restroom.address.city}}</p>
    <p>state: {{restroom.address.state}}</p>
    <p>country: {{restroom.address.country}}</p>
    <p>indications: {{restroom.address.indications}}</p>
    <p>changing_table: {{restroom.features.changing_table}}</p>
    <p>accessible: {{restroom.features.accessible}}</p>
    <p>unisex: {{restroom.features.unisex}}</p>
    <p>score: {{score}}</p>


    <p class="restroom" data-id="{{restroom.id}}">ID: {{restroom.id}}</p>

    <hr>

    {{#each restroom.comments}}
    <p>{{restroom.comment}}</p>
    <p>{{restroom.owner.firstName}} {{restroom.owner.lastName}}</p>
    <img style="width: 80px; height: 80px" src="{{restroom.owner.avatar}}"
        alt="{{restroom.owner.firstName}}, {{restroom.owner.lastName}}">
    <p>{{createdAt}}</p>
    <a href="/restrooms/{{../id}}/comments/{{restroom.id}}/edit">Edit</a>
    <a href="/restrooms/{{../id}}/comments/{{restroom.id}}/delete">Delete</a>
    <br>
    {{/each}}


    <form action="/restrooms/{{restroom.id}}/votes/create" method="post">
        <input hidden type="text" name="vote" value="up">
        <input type="submit" value="Vote up">
    </form>
    <form action="/restrooms/{{restroom.id}}/votes/create" method="post">
        <input hidden type="text" name="vote" value="down">
        <input type="submit" value="Vote down">
    </form>

    <hr>

    <form action="/restrooms/{{restroom.id}}/comments/create" method="post">
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="Send">
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCji4zNDq4v6CsYdnMnCoOOit-ug8MULXg&callback=initMap"></script>