<div id="map"></div>

<div class="container mt-4 mb-5">

    <div class="row justify-content-center">

        <div class="col">

            <table class="table ">
                <thead>
                    <tr>
                        <th hidden scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col"> Features</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {{#each restrooms}}

                    <tr>
                        <td hidden class="restroom" data-id="{{id}}"></td>
                        <td>{{name}}</td>

                        <td>{{address.street}}, {{address.city}}, {{address.state}}, {{address.country}}</td>

                        <td>
                            <div class="row">
                                <div class="col-3">
                                    {{#if features.unisex}}
                                    <img src="/images/unisex.png" alt="unisex" width="25">
                                    {{/if}}
                                </div>

                                <div class="col-3">
                                    {{#if features.accessible}}
                                    <img src="/images/accessible.png" alt="accessible" width="25">
                                    {{/if}}
                                </div>

                                <div class="col-3">
                                    {{#if features.changing_table}}
                                    <img src="/images/changing-table.png" alt="changing_table" width="25">
                                    {{/if}}
                                </div>
                            </div>
                        </td>

                        <td>
                            <a href="/restrooms/{{_id}}" class="btn btn-outline-secondary btn-sm">Details</a>
                        </td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-secondary btn-lg">Home</a>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapStyles.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCji4zNDq4v6CsYdnMnCoOOit-ug8MULXg&callback=initMap"></script>